<!DOCTYPE html>
<html lang="en" ng-app="loginformmodule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Share/main.css" rel="stylesheet">
</head>
<body>



<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand"
           href="/algo.html">

            Primer Form Bootstrap + AngularJs.

        </a>
        
    </div>
</div>
</nav>
<div class="container main-content">
    <form name="theform">

     <div class="form-group">
         <label for="name">Tu nombre</label>
         <input type="text"
                class="form-control"
                id="name">

     </div>
    </form>

</div>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../controler/fromValidationController.js"></script>

</body>
</html>